header {
    background-color: rgb(59, 59, 172) !important;
}
.nav-link {
    color: aliceblue !important;
}
div.card.shadoe-sm {
    border: 1 !important;
    margin: 0 auto !important;
    background-color: aliceblue !important;
}
footer {
    background-color: rgb(59, 59, 172) !important;
    color: aliceblue !important;
}
